<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel="stylesheet" href="/css/style.css" charset="utf-8">
    <script src="angular/angular.js"></script>
    <script src="js/app.js"></script>
    <script src="js/models/BowlingFrame.js"></script>
    <script src="js/models/BowlingGame.js"></script>
    <script src="js/helpers/setupGameService.js"></script>
    <script src="js/controllers/frameController.js"></script>
    <script src="js/helpers/rangeFilter.js"></script>
    <link rel="stylesheet" type="text/css" href="materialize/dist/css/materialize.css">
    
  </head>
  <body ng-app="bowling" ng-controller="frameController as game">
    <div class="container">
      <div class="row">
        <h1>Bowling Score Calculator</h1>
        <h2 id="current-score">Current Score: {{ OverAllScore }}</h2>
        <h3 ng-if="isOver">Last Frame!</h3>
      </div>
      <div class="row">
       
          <div id="choose-pins" class="row" >
            <p>How many pins have fallen?</p>
            <ul ng-repeat="pin in [] | range:currentlyLeft">
              <li class="col s1.5"><a class="pin" href="#" ng-click="game.roll(pin)">{{pin}}</a></li>
            </ul>
          </div>
           <table class="hoverable">
             <thead>
               <tr>
                 <th>Round</th>
                 <th>First Bowl</th>
                 <th>Second Bowl</th>
                 <th>Count</th>
               </tr>
             </thead>
             <tbody ng-repeat="frame in scoreCard">
               <tr class="frame" ng-class="{strike: frame.strike, spare: frame.spare}">
                 <td>{{$index + 1}}</td>
                 <td class="first-roll">{{frame.rolls[0]}}</td>
                 <td class="second-roll">{{frame.rolls[1]}}</td>
                 <td class="frame-score">{{frame.score}}</td>
               </tr>
             </tbody>
           </table>
           <div class="section"></div>
           <button class="btn" ng-click="game.newGame()">New Game</button>
        
      </div> <!-- End of calculator row -->
    </div> <!-- End of container -->
  </body>
</html>
