<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel="stylesheet" href="/css/style.css" charset="utf-8">
    <script src="angular/angular.js"></script>
    <script src="js/app.js"></script>
    <script src="js/models/BowlingFrame.js"></script>
    <script src="js/models/BowlingGame.js"></script>
    <script src="js/controllers/frameController.js"></script>
    <script src="js/helpers/rangeFilter.js"></script>
    <link rel="stylesheet" type="text/css" href="materialize/dist/css/materialize.css">
    
  </head>
  <body ng-app="bowling" ng-controller="frameController as game">
    <div class="container">
      <div class="row">
        <h1>Bowling Score Calculator</h1>
        <h2 id="current-score">Current Score: {{ OverAllScore }}</h2>
      </div>
      <div class="row">
        
          <div id="choose-pins">
            <ul ng-repeat="pin in [] | range:currentlyLeft">
              <li><a class="pin" href="#" ng-click="game.roll(pin + 1)">{{pin + 1}}</a></li>
            </ul>
          </div>
           <table class="hoverable">
             <thead>
               <tr>
                 <th>Round</th>
                 <th>First Bowl</th>
                 <th>Second Bowl</th>
                 <th>Count</th>
               </tr>
             </thead>
             <tbody ng-repeat="frame in game.scoreCard">
               <tr class="frame">
                 <td>{{$index + 1}}</td>
                 <td class="first-roll">{{frame.rolls[0]}}</td>
                 <td class="second-roll">{{frame.rolls[1]}}</td>
                 <td class="frame-score">{{frame.score}}</td>
               </tr>
             </tbody>
           </table>

        
      </div> <!-- End of calculator row -->
    </div> <!-- End of container -->
  </body>
</html>
